.embeded_maps_sec{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.los_angeles h1{
    font-size: 20px;
    color: #000;
    font-weight: 500;
    padding: 10px 0px;
}
@media (max-width: 991.98px) {
    .embeded_maps_sec{
        justify-content: center;
    }
}